.about {
  display: grid;
  grid-template-areas: "aboutSection photoRow";
  grid-template-columns: 5fr 2fr;
  height: 100%;
  position: relative;
}

.aboutSection {
  display: flex;
  flex-direction: column;
  grid-area: aboutSection;
  width: 40rem;

  .p2 {
    font-size: large;
    padding: 1rem 0 .3rem 0;
    margin-top: 3rem;
    width: max-content;
  }

  .p2Border {
    border-bottom: solid 3px #727272;
    width: 2.5rem;
  }

  .aboutSectionHeader {
    font-size: 125px;
    padding: 3rem 0 2rem 0;
  }

  .aboutText {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: minmax(0, 1fr);
    height: 100%;

    p {
      line-height: 2rem;
      width: 90%;
      word-break: break-all;
    }

    p:nth-child(3) {
    }
  }

}

.link:hover {
  text-decoration: underline #fedb51;
}

.photoRow {
  grid-area: photoRow;
  background-color: black;
  justify-self: start;
  height: 85%;
  display: flex;
  flex-direction: column;


  .detailedTitle {
    color: white;
    text-align: right;
    align-self: center;
    height: 40%;
    padding-top: 4rem;
    font-size: 20px;
    font-weight: 600 !important;
  }
}

.crescent {
  background-color: #fedb51;
  width: 400px;
  height: 200px;
  border-radius: 200px 200px 0 0;
  position: absolute;
  bottom: 0;
  left: 60%;
  transform: translateX(-22%) translateY(-70%);
}