@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {*/
/*  --foreground-rgb: 0, 0, 0;*/
/*  --background-start-rgb: 214, 219, 220;*/
/*  --background-end-rgb: 255, 255, 255;*/
/*}*/

/*@media (prefers-color-scheme: light) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

body {
  /*color: rgb(var(--foreground-rgb));*/
  background-color: #f4f3f3;
  /*background: linear-gradient(*/
  /*    to bottom,*/
  /*    transparent,*/
  /*    rgb(var(--background-end-rgb))*/
  /*  )*/
  /*  rgb(var(--background-start-rgb));*/
}

@font-face {
  font-family: "SansSerif";
  src: url("./asset/NeueMachina/NeueMachina-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SansSerifBold";
  src: url("./asset/NeueMachina/NeueMachina-Ultrabold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SansSerifLight";
  src: url("./asset/NeueMachina/NeueMachina-Light.otf");
  font-weight: 200;
  font-style: normal;
}

h1, h2, h3 {
  font-family: SansSerifBold, sans-serif;
}

a, div, span {
  font-family: SansSerif, sans-serif;
}

p {
  font-family: SansSerifLight, sans-serif;
}